.email-edit {
    position: fixed;
    margin: 2em;
    padding: 2em;
    border-radius: 1em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 40%;
    right: 0;
}

.email-edit .close-btn {
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
    font-size: 18px;
    color: #555;
}

.fullScreen-btn.email-edit {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: purple;
}

.email-edit-fullscreen .fullScreen-btn.email-edit {
    background-color: firebrick;
}

.email-edit.fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #4CAF50;
}

input,
textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.email-edit form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.email-edit form label {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

.email-edit form button {
    width: 150px; /* Fixed pixel value for button width */
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.email-edit form button:hover {
    background-color: #45a049;
}

::backdrop {
    background-color:white;
}