.container {
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding: 20px;
}

/* GRIDS */
.simple-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 10px;
}
main.container{

    display: grid;
}
.bar-side{
   
    flex-direction: column;
    width: fit-content;
}
.left-sidebar {
    width: 200px; /* Adjust the width as needed */
}