.app-header {
    background-color:azure;
    color: rgb(84, 17, 147);
}

.logo{
    position:relative;
    width: 150px;
    float:left;
    cursor: pointer;
}
.app-header nav {
    float: right;
}

.app-header section.container {
    display: flex;
    align-items:start;
    justify-content: space-between;
}

.app-header .back {
    flex-grow: 1;
}

.app-header nav a:not(:last-child) {
    margin-right: 10px;
}

.app-header section.container>section {
    flex-grow: 1;
}