.email-main {
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.3s;
}

.email-main:hover {
  background-color: #f5f5f5;
}

.icon {
  margin-right: 10px;
}

.email-content {
  flex-grow: 1;
  overflow: hidden;
}

.email-preview {
  display: flex;
  justify-content: space-between;
}

.email-preview .from,
.email-preview .subject,
.email-preview .date {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.email-preview .from {
  flex: 2; /* Adjust the flex value based on your preference */
  margin-right: 10px;
}

.email-preview .subject {
  flex: 5; /* Adjust the flex value based on your preference */
  margin-right: 10px;
}

.email-preview .date {
  flex: 2; /* Adjust the flex value based on your preference */
}
