.email-filter {
    display: flex;
    flex-wrap: wrap;
    margin-block: 20px;
    gap: 20px;
    height: min-content;
    flex-direction: row;
    
}

.email-filter > section {
    display: flex;
    flex-direction: column;
}
.box-filter{
   display: flex; 
}
.box-filter input{
    width: 700px;
    padding: 10px 10px;
    border-radius: 100px;
}
.box-filter select{
    padding: 10px 10px;
    border-radius: 100px;
}