.email-main {

    display: grid;
    width: 100%;
  }
  
  
  .email-preview {
    background: #0076fd09;
    background-repeat: no-repeat;
    padding: 15px;
    display: flex;
    font-weight: bold;
    overflow: hidden;
    justify-content: space-between;
    cursor: pointer;
  }
  
  
  .email-hover {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
  }
  
  .email-hover.visible {
    display: flex;
  }
  